div.splash {
    height: 100%;
    margin: 0;
}

.splash img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 1.6s ease-in-out;
    -moz-transition: opacity 1.6s ease-in-out;
    -o-transition: opacity 1.6s ease-in-out;
    transition: opacity 1.6s ease-in-out;
}

form {
    position: relative;
    text-align: center;
    padding-top: 300px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1.6s ease-in-out;
    -moz-transition: opacity 1.6s ease-in-out;
    -o-transition: opacity 1.6s ease-in-out;
    transition: opacity 1.6s ease-in-out;
}