/* Courtesty of https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgb(200, 230, 255) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(200, 230, 255) 1px, transparent 1px);
}

div.splash {
    height: 100%;
    margin: 0;
}

.splash img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 1.6s ease-in-out;
    -moz-transition: opacity 1.6s ease-in-out;
    -o-transition: opacity 1.6s ease-in-out;
    transition: opacity 1.6s ease-in-out;
}

form {
    position: relative;
    text-align: center;
    padding-top: 300px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1.6s ease-in-out;
    -moz-transition: opacity 1.6s ease-in-out;
    -o-transition: opacity 1.6s ease-in-out;
    transition: opacity 1.6s ease-in-out;
}

p, input {
    font-family: 'Merienda One', Helvetica, sans-serif;
}

ul.errorlist {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: cornsilk;
}

ul, li {
    list-style: none;
}