{% load static %}

<html>

<head>
    <title>ClearCut Manage</title>
    <link rel="stylesheet" href="{% static 'manage/index.css' %}" />
</head>

<body>
    <!-- Actions bar -->
    <div class="actions">
        <input type="checkbox" id="display-clear-cuts">Toggle clearcut displays for all items</input>
        <div class="create-item">Drag 'n' Drop Zone here</div>
        {% comment %} <form action="{% url 'list_create_media' %}" method="post">
            {% csrf_token %}
            <th>
                <div class="add-media-item">
                    <p>New</p>
                    <input type="submit" value="&#43;">
                </div>
            </th>
            <th>
                <select type="text" id="media-type">
                    <option value="0">------</option>
                    <option value="1">Image</option>
                    <option value="2">Video</option>
                </select>
            </th>
            <th>
                <input type="text" id="original-url" placeholder="Original image url here" />
            </th>
            <th>
                <input type="text" id="clearcut-url" placeholder="ClearCut image url here" />
            </th>
        </form> {% endcomment %}
    </div>

    <!-- List media items -->>
    <div class="container media-items">
        {% for media_item in media_items %}
        <div class="item-wrapper" data-id="{{media_item.id}}">
            <!-- Media item meta information here -->
            <p class="item-media-type" data-value={{media_item.media_type}}></p>
            <p class="item-description">{{media_item.description}}</p>
            <p class="item-label">{{media_item.label}}</p>
            
            <!-- List all images for this media item -->
            {% for image in media_item.clear_cut_image.all %}
            <div class="item-media" data-id="{{ image.id }}">
                <img class='clearcut-image' src="{{ image.media_url_clear_cut }}" alt="ClearCut media displayed">
                <img class='original-image' src="{{ image.media_url_original }}" alt="Original media displayed">
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>

<script type="text/javascript" src="{% static 'manage/utils.js' %}"></script>
</body>

</html>
