{% load static %}
{% load rest_framework %}

<html>

<head>
    <title>ClearCut Uploader</title>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'manage/uploader.css' %}" />
</head>

<body>
    <div class="uploader">
        <form action="{% url 'list_create_media' %}" method="post">
            {% csrf_token %}

            <!-- Form meta data -->
            <div class="meta">
                {% render_form serializer template_pack='rest_framework/inline' %}
                <input type="submit" id="upload-item">
                <label class="button" for="upload-item" id="upload-item-icon"><span id="upload-item-text">Upload</span></label>
            </div>

            <!-- Actual media uploader -->
            <!-- See https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/ -->
            <div class="dropzone" id="dropzone">
                <p>Upload multiple files via file selection or drag 'n' drop</p>
                <div id="gallery"></div>
                <input type="file" id="file-uploader" multiple accept="image/*" onchange="handleFiles(this.files)">
                <label class="button" for="file-uploader" id="file-uploader icon">Select some files</label>
            </div>
        </form>
    </div>

<script type="text/javascript" src="{% static 'manage/uploader.js' %}"></script>
</body>

</html>
