{% load static %}
{% load rest_framework %}

<html>

<head>
    <title>ClearCut Upload</title>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'manage/uploader.css' %}" />
</head>

<body>
    <!-- Uploader -->
    <div class=uploader>
        <form action="{% url 'list_create_media' %}" method="post">
            {% csrf_token %}
            {% render_form serializer template_pack='rest_framework/inline' %}
            <th>
                <div class="add-media-item">
                    <p>New</p>
                    <input type="submit" value="&#43;">
                </div>
            </th>
            <th>
                <select type="text" id="media-type">
                    <option value="0">------</option>
                    <option value="1">Image</option>
                    <option value="2">Video</option>
                </select>
            </th>
            <th>
                <input type="text" id="original-url" placeholder="Original image url here" />
            </th>
            <th>
                <input type="text" id="clearcut-url" placeholder="ClearCut image url here" />
            </th>
        </form>
    </div>

<script type="text/javascript" src="{% static 'manage/uploader.js' %}"></script>
</body>

</html>
