{% load static %}
{% load rest_framework %}

<html>

<head>
    <title>ClearCut Uploader</title>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'manage/uploader.css' %}" />
    
    <script type="text/javascript">
        window.endpoints = {
            processItem: "/manage/api/media-items/",
            processMedia: "/manage/api/process-media/"
        };
    </script>
</head>

<body>
    <!-- Navigation-->
    {% include 'manage/navigation.html' %}

    <div class="uploader">
        <form onsubmit="saveItem()">
            {% csrf_token %}
            <script>
                window.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            </script>

            <!-- Actual media uploader -->
            <!-- See https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/ -->
            <div class="dropzone" id="dropzone">
                <p>Upload an image/video by drag and drop or</p>
                <input type="file" id="file-uploader" accept="image/*,video/*" onchange="handleFiles(this.files)">
                <label class="button" for="file-uploader" id="file-uploader icon">Select Files</label>
                <p class="file-upload-error" id="file-upload-error"></p>
                <div id="gallery"></div>
            </div>

            <!-- Form meta data -->
            <div class="meta">
                {% render_form serializer template_pack='rest_framework/inline' %}
                <input type="submit" id="upload-item">
                <label class="button" for="upload-item" id="upload-item-icon"><span id="upload-item-text">Save Item</span></label>
            </div>
        </form>
    </div>

<script type="text/javascript" src="{% static 'manage/uploader.js' %}"></script>
</body>

</html>
