div.item-media {
    display: inline-block;
    position: relative;
    border: 1px grey dashed;
}

div.item-media:hover .original-image {
    transform: translate(-101px);
}

div.item-media:hover .clearcut-image {
    transform: translate(101px);
}

.item-wrapper {
    display: inline-block;
    padding: 0;
    border: 2px rebeccapurple solid;
}

.media-items img {
    width: 200px;
}

.media-items img.clearcut-image {
    position: relative;
    left: 102px;
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    transition: transform 1.0s;
}

.media-items img.original-image {
    position: relative;
    left: -102px;
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    transition: transform 1.0s;
}