* {
    color: black;
    font-family: Verdana, Helvetica, sans-serif;
}

div.navigation {
    position: relative;
    display: block;
    width: 100%;
    background-color: aliceblue;
    border: black 1px solid;
}

.navigation * {
    display: inline-block;
    vertical-align: middle;
    margin-left: -1px;
    margin-right: -4px;
}

.navigation img.logo {
    height: 100px;
    margin-left: 0px;
}

div.menu-expander {
    text-align: center;
    height: max-content;
}

div.menu-expander::after {
    display: inline-block;
    content: '\27AA';
    font-size: 38;
    width: 50px;
    transition: color 1s;
}

div.menu-expander:hover {
    color: royalblue;
    animation-name: spin;
    animation-duration: 300ms;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}

div.menu-expander:hover + ul {
    display: inline-block;
}

div.ul:hover + ul {
    display: inline-block;
}

.navigation ul {
    display: none;
    padding-inline-start: 0px;
}

.navigation ul:hover {
    display: inline-block;
}

.navigation li {
    float: right;
    border: black 1pm solid;
}

.navigation li a {
    background-color: paleturquoise;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: black 1px solid;
}

.navigation li a:hover {
    background-color: turquoise;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
