/* Courtesty of https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgb(200, 230, 255) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(200, 230, 255) 1px, transparent 1px);
}

div.dropzone {
    border-radius: 20px;
    width: 580px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
    padding: 20px;
    border: 2px dashed grey;
    background-color: white;
    overflow: auto;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

form label.button {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 10px;
    background-color: paleturquoise;
    border: 1px black solid;
    border-radius: 50px;
    float: right;
}

form label.button:hover {
    cursor: pointer;
}

form #upload-item, #file-uploader {
    display: none;
}

div.meta {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    text-align: left;
    padding: 20px;
    padding-left: 20%;
    z-index: 1;
    border: 1px red solid;
    overflow: auto;
}

div.meta .form-group {
    display: block;
}

.sr-only, input, select {
    display: inline-block;
    font-family: 'Merienda One', Helvetica, sans-serif;
    min-width: 100px;
    margin: 5px;
    border-bottom: 2px solid black;
}

.sr-only:after {
    content: ": ";
}

input[name="description"] {
    width: 60%;
}

input {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

input:focus {
    outline: none;
    border-bottom: 2px solid royalblue;
}

select {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

select:focus {
    outline: none;
    border-bottom: 2px solid royalblue;
}