/* Courtesty of https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgb(200, 230, 255) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(200, 230, 255) 1px, transparent 1px);
}

div.item-media {
    display: inline-block;
    position: relative;
    border: 1px grey dashed;
    background-color: white;
}

div.actions {
    top: 0;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    background-color: rgb(240, 240, 240);
    z-index: 2;
}

div.action {
    display: inline-block;
    margin: 10px;
}

label {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    background-color: paleturquoise;
    border: 1px black solid;
    border-radius: 50px;
}

div.action label:hover {
    cursor: pointer;
}

div.action input {
    display: none;
}

form {
    margin-block-end: 0em;
}

.item-wrapper {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 0px rgb(240, 240, 240) solid;
    border-radius: 30px;
    background-color: paleturquoise;
    box-shadow: 2px 2px royalblue;
}

.item-wrapper p {
    font-family: 'Merienda One', Helvetica, sans-serif;
}

p.tag {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    margin-block-end: 0.5em;
    border: 1px black solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px grey;
}

p.item-description {
    padding: 3px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    background-color: white;
}

.item-media img {
    display: block;
    width: 200px;
}

.media-items img.clearcut-image {
    position: relative;
    bottom: -100px;
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    transition: transform 1.0s;
}

.media-items img.original-image {
    position: relative;
    bottom: 100px;
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    transition: transform 1.0s;
}